@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App {
    min-height: 100vh;
    display: flex;
    /* background: linear-gradient(to right, #6A82FB, #FC5C7D); */
    background: linear-gradient(to right, #24c6dc, #514a9d); 
    color:'black';
}

*:focus {
    box-shadow: none !important;
  }
  
  *[data-focus] {
    box-shadow: none !important;
  }
  